* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  width: 100%;
}

.sections-nav {
  padding: 0;
}

.sections-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.sections-filter_img {
  padding-right: 10px;
}

.sections-content {
  margin: 0;
  padding: 0;
}

.card {
  margin-bottom: 10px;
}

.card-name {
  display: none;
}

.card-big {
  height: 400px;
  border-radius: 10px;
}

.card-cv {
  border-radius: 60px;
  margin-bottom: 20px;
}

.card-btn-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.card-btn-cv_btn {
  padding: 0;
  border-color: transparent;
}

.card-btn-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-btn-about_btn {
  height: 50px;
  width: 200px;
  border-bottom-left-radius: 35px 20px;
  border-bottom-right-radius: 35px 20px;
}

.card-small {
  height: 85px;
  background-color: #88C3FF;
  color: white;
  border: 2px transparent solid;
  border-radius: 25px;
}

.card-small:hover {
  background-color: transparent;
  border: 2px #88C3FF solid;
  color: black;
}

.card-level {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  border: 2px solid;
  border-radius: 3px;
  padding: 2px 6px 2px 6px;
}

.card-img {
  padding: 5px;
}

.card-img_cv {
  height: 240px;
  width: 240px;
  padding: 0;
  margin: 10px;
  border: 2px solid transparent;
  border-radius: 50px;
}

.card-img_small {
  font-size: 44px;
}

.card-btn {
  position: relative;
  height: 40px;
  bottom: 0;
}

.card-btn_checkin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 3px;
}

.card-top_big {
  border: 1px solid;
  border-width: 0px 0px 1px 0px;
  padding-bottom: 15px;
}

.card-features_list {
  height: 220px;
  overflow: "auto";
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 250px;
  margin-bottom: 10px;
}

.card-container {
  min-width: 235px;
  max-width: 260px;
  padding: 0;
}

.modal-cv-header_profile__img {
  border: solid transparent;
  border-radius: 30px;
  max-width: 300px;
}

.modal-cv-header_contacts {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 320px;
}

.modal-cv-header_contacts__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 0;
  border-color: transparent;
  max-width: 50px;
}

.modal-cv-header_stack__itom {
  margin-right: 50px;
  color: black;
  padding: 0 10px 0 10px;
}

.modal-cv-header_education {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #A9A9A9;
}

.modal-cv-header_education__name {
  margin-bottom: 5px;
}

.modal-cv-header_education__year {
  border: 2px solid transparent;
  background-color: #A9A9A9;
  color: black;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  font-style: italic;
  color: #454545;
  font-size: 15px;
}

.modal-small_btn {
  padding: 6px;
  border: 0;
  margin: 0 20px 0px 20px;
}

.price {
  border: 0px solid transparent;
  background-color: #A9A9A9;
  color: black;
  border-radius: 5px;
  padding: 2px;
}

.section-desc_title {
  border-top: 2px solid black;
  padding-top: 10px;
}

.section-desc_effect {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.section-pay_text__span {
  padding: 3px 6px 3px 6px;
  color: #fff;
  background-color: #800080;
  border: 0px solid transparent;
  border-radius: 10px;
  text-decoration: underline;
}

.navbar-header {
  background-color: white;
}

.navbar-collapse {
  background-color: white;
}

.login {
  height: 50px;
  width: 115px;
  padding: 10px;
  border: 1px solid;
  border-width: 1px 0px 0px 0px;
  border-radius: none;
}

.login-img {
  height: 25px;
  width: 25px;
  padding-right: 5px;
  margin-right: 10px;
  font-size: 25px;
}

.nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-title {
  font-size: 40px;
}

.main-title_sub {
  font-size: 24px;
}

.main-slider {
  width: 100px;
}

.main-slider_img {
  height: 350px;
}

.main-carousel {
  width: 100%;
}

.modal-formCheckIn {
  background-color: white;
}

@media (min-width: 992px) {
  .main-carousel {
    width: 50%;
  }
}

@media only screen and (max-width: 550px) {
  .modal-small_btn {
    margin: 0 47px 0px 40px;
  }
}

@media screen and (max-width: 500) {
  .card-container {
    width: 1000px;
    min-width: 250px;
  }
}

@media only screen and (max-width: 490px) {
  .modal-small_btn {
    margin: 0 35px 0px 30px;
  }
}

@media only screen and (max-width: 420px) {
  .modal-small_btn {
    margin: 0 35px 0px 0;
  }
}

@media only screen and (max-width: 385px) {
  .modal-small_btn {
    margin: 0 25px 0px 0;
  }
}

@media only screen and (max-width: 380px) {
  .section-data {
    margin: 0 0px 0px 0;
  }
}

@media only screen and (max-width: 365px) {
  .modal-small_btn {
    margin: 0 14px 0px 13px;
  }
}

@media only screen and (max-width: 330px) {
  .modal-small_btn {
    margin: 0 10px 0px 0;
  }

  .section-data {
    width: 300px;
    margin: 0 0px 0px 120px;
  }
}

@media only screen and (max-width: 289px) {
  .modal-small_btn {
    margin: 0 1px 0px 0;
  }
}