{% load static %}
<header>
  
  <nav class="navbar navbar-header navbar-expand-md navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        Николай Сыровежко и коллеги
        <br>
        <span class="navbar-brand_sub">дополнительное образование</span>
      </a>
      <!-- <a href="#" class="btn d-flex justify-content-center login" role="button" aria-disabled="true" data-bs-toggle="modal" data-bs-target="#authorization">
        <i class='bx bx-user login-img'></i>
        Войти
      </a> -->
      <a href="#" class="btn" role="button" aria-disabled="true">
        
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-header navbar-collapse" id="navbarTogglerDemo02">

          <ul class=" nav nav-tabs navbar-nav ms-auto text-center" id="myTab" role="tablist"><!-- 
            <li class="nav-item">
              <button 
              class="nav-link" 
              aria-current="page"  
              id="home-tab" 
              data-bs-toggle="tab" 
              data-bs-target="#home" 
              type="button" 
              role="tab" 
              aria-controls="home" 
              aria-selected="true"
              >
                Главная
              </button>
            </li> -->
            <li class="nav-item active">
              <button 
              class="nav-link " 
              aria-current="page"  
              id="sections-tab" 
              data-bs-toggle="tab" 
              data-bs-target="#sections" 
              type="button" 
              role="tab" 
              aria-controls="sections" 
              aria-selected="true"
              >
                Кружки
              </button>
            </li>
            <li class="nav-item">
              <button 
              class="nav-link" 
              id="timetable-tab" 
              data-bs-toggle="tab" 
              data-bs-target="#timetable" 
              type="button" 
              role="tab" 
              aria-controls="timetable" 
              aria-selected="false"
              >
                Расписание
              </button>
            </li>
            <li class="nav-item">
              <button 
              class="nav-link" 
              id="teachers-tab" 
              data-bs-toggle="tab" 
              data-bs-target="#teachers" 
              type="button" 
              role="tab" 
              aria-controls="teachers" 
              aria-selected="false" 
              tabindex="-1" 
              aria-disabled="true"
              >
                Педагоги
              </button>
            </li>
          </ul>
        </div>
      </div>

  </nav>
</header>

  <div class="tab-content" id="myTabContent">
    <div
    class="tab-pane pt-5 pt-sm-0 fade show active"
    id="sections"
    role="tabpanel"
    aria-labelledby="sections-tab"
    >
      {% include '_sections.html' %}
    </div>

    <div
    class="tab-pane pt-5 pt-sm-0 fade"
    id="timetable"
    role="tabpanel"
    aria-labelledby="timetable-tab"
    >
      {% include '_timetable.html' %}
    </div>

    <div
    class="tab-pane pt-5 pt-sm-0 fade"
    id="teachers"
    role="tabpanel"
    aria-labelledby="teachers-tab"
    >
      {% include '_teachers.html' %}
    </div>
  </div>

  {% include '_authorization.html' %}
